// Theme colors: https://coolors.co/484a47-587b7f-8dab7f-e88873-cfee9e
$themeColorBG: #484A47;
$themeColorHighlight2: #E88873;
$themeColorHighlight: #587B7F;
$themeColorHighlightText: white;
$themeColorText: #EEEEEE;
$themeColorTextDisabled: #ABACAB;

// $themeColorButtonsBG: rgb(46, 72, 135);
// $themeColorButtonsText: white;

$themeColorButtonsBG: default;
$themeColorButtonsText: default;